.vaccination-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 50px;
  background-color: #161625;
  padding-bottom: 50px;
}

.state-header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #cbd5e1;
  font-family: Roboto;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.loader-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .vaccination-container {
    padding: 0px 20px;
  }
  .state-header {
    font-size: 20px;
  }
}
.drop-downs-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}
.drop-down-list {
  width: 264px;
  height: 52px;
  background-color: #2f2f43;
  padding: 10px;
  color: #94a3b8;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}
@media (max-width: 768px) {
  .drop-downs-container {
    align-self: flex-start;
  }
  .drop-down-list {
    width: 108px;
    height: 30px;
    font-size: 10px;
  }
}
.vaccination-cards-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vaccine-card {
  display: flex;
  gap: 10px;
  background-color: #2f2f43;
  border-radius: 12px;
  padding: 20px;
  width: 50%;
}
.vaccine-card-icon {
  width: 47px;
  height: 47px;
}
.vaccine-card-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  color: #cbd5e1;
}
.vaccine-card-total {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.vaccine-card-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.vaccine-card-detail {
  font-family: Roboto;
  line-height: 24px;
  font-size: 16px;
}
.vaccine-card-detail-label {
  font-weight: 400;
  color: #cbd5e1;
}
.vaccine-card-detail-value {
  font-weight: 500;
  color: #e2e8f0;
}
@media (max-width: 767px) {
  .vaccination-cards-container {
    flex-direction: column;
  }
  .vaccine-card {
    width: 100%;
  }
  .vaccine-card-icon {
    height: 40px;
    width: 40px;
  }
  .vaccine-card-title,
  .vaccine-card-total,
  .vaccine-card-detail-label {
    font-size: 12px;
  }
}
.vaccination-trends-graph-container {
  background-color: #1c1c2b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}
.vaccination-trends-header {
  color: #94a3b8;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.tabs-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.tab-item-btn {
  border: none;
  outline: none;
  background-color: transparent;
}
.tab-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #94a3b8;
  line-height: 24px;
}
.active-tab-btn {
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.vaccination-details-graphs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vaccination-category-container {
  background-color: #1c1c2b;
  border-radius: 12px;
  padding: 20px;
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.vaccination-category-graphs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vaccination-category-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #94a3b8;
}
.vaccination-age-container {
  background-color: #1c1c2b;
  border-radius: 12px;
  padding: 20px;
  width: 48%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .vaccination-details-graphs-container {
    flex-direction: column;
  }
  .vaccination-category-container,
  .vaccination-age-container {
    width: 100%;
    text-align: center;
  }
  .vaccination-trends-header,
  .vaccination-category-header {
    font-size: 16px;
  }
  .tab-item {
    font-size: 11px;
  }
  .active-tab-btn {
    text-decoration-thickness: 1.6px;
  }
}
.no-data-message {
  height: 70vh;
  color: white;
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .no-data-message {
    font-size: 18px;
  }
}
