.covid-summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 222px;
  width: 254px;
  border-radius: 10px;
}

.summary-label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.summary-image {
  width: 38px;
  height: 38px;
}
.summary-count {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .covid-summary-item {
    height: 148px;
    width: 148px;
  }
  .summary-image {
    height: 24px;
    width: 24px;
  }
  .summary-count {
    font-size: 12px;
  }
  .summary-label {
    font-size: 16px;
  }
}
.confirmed-container {
  color: #ff073a;
}
.active-container {
  color: #007bff;
}
.recovered-container {
  color: #28a745;
}
.deceased-container {
  color: #6c757d;
}
.confirmed-data {
  background-color: #331427;
}
.recovered-data {
  background-color: #132240;
}
.active-data {
  background-color: #182829;
}
.deceased-data {
  background-color: #1c1c2b;
}
