.suggestion-item {
  height: 70px;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #161625;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.suggestion-item:hover {
  border: solid 1px #94a3b8;
}
.linked-item {
  text-decoration: none;
}
.navigate-btn {
  background-color: #1cd4d429;
  width: 76px;
  height: 32px;
  border-radius: 4px;
  border: none;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigate-icon {
  height: 24px;
  width: 24px;
  color: #facc15;
}
.state-name {
  color: #64748b;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.state-code {
  font-family: HK Grotesk;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #facc15;
}
