.suggestion-item {
  height: 64px;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #161625;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion-item:hover {
  border: solid 1px #94a3b8;
  padding-left: 9px;
  padding-right: 9px;
}
@media (max-width: 767px) {
  .suggestion-item {
    height: 48px;
  }
}

.linked-item {
  text-decoration: none;
}
.state-name {
  color: #64748b;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 16px;
}
.navigate-icon {
  height: 24px;
  width: 24px;
  color: #facc15;
}
.state-code {
  font-family: HK Grotesk;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #facc15;
}
.navigate-btn {
  background-color: #1cd4d429;
  width: 76px;
  height: 32px;
  border-radius: 4px;
  border: none;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .navigate-btn {
    width: 70px;
    height: 21px;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 0;
  }
  .navigate-icon {
    width: 3.6666665077209473;
    height: 6;
  }
  .state-code,
  .state-name {
    font-size: 13px;
  }
}
