.app-about-container {
  background-color: #161625;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #f8fafc;
  width: 94%;
}
.description-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #e2e8f0;
  width: 94%;
}
.faq-data-container {
  list-style-type: none;
}
