.district-summary-item {
  display: flex;
  align-items: center;
  color: #94a3b8;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  width: 25%;
}
.district-name {
  font-size: 16px;
}
.cases-count {
  font-size: 24px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .district-name {
    font-size: 13px;
  }
  .cases-count {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .district-name {
    font-size: 12px;
  }
  .cases-count {
    font-size: 16px;
  }
  .district-summary-item {
    width: 50%;
  }
}
