.linechart-item {
  list-style-type: none;
  margin-bottom: 30px;
}
.line-chart-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  .line-chart-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.confirmed-data {
  background-color: #331427;
}
.recovered-data {
  background-color: #182829;
}
.active-data {
  background-color: #132240;
}
.deceased-data {
  background-color: #1c1c2b;
}
.tested-data {
  background-color: #331427;
}
