.app-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  background-color: #161625;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .app-home-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.search-container {
  width: 70%;
  height: 70px;
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #2f2f43;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (max-width: 767px) {
  .search-container {
    width: 90%;
    height: 48px;
    padding: 10px;
  }
}

.search-bar {
  outline: none;
  border: none;
  flex-grow: 1;
  background-color: transparent;
  color: #6c757d;
}
.search-bar::placeholder {
  width: 105;
  height: 24;
  opacity: 1;
  color: #94a3b8;
}
@media (max-width: 767px) {
  .search-bar::placeholder {
    font-size: 12px;
  }
}
.search-icon {
  width: 24;
  height: 24;
  color: #94a3b8;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .search-icon {
    width: 14px;
    height: 14px;
  }
}
.search-suggestions-container {
  list-style-type: none;
  width: 70%;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .search-suggestions-container {
    width: 90%;
  }
}
.covid-table-container {
  border: #475569 1px solid;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 20px;
  width: 90%;
  margin-top: 50px;
}
.loader-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.covid-table-header-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.table-header {
  color: #f8fafc;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  width: 200px;
}
.states-header {
  text-align: left;
  width: 300px;
}
.seperator {
  border: 1px solid #475569;
  width: 100%;
}
.sorting-btn {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 5px;
  margin-left: 5px;
  align-self: flex-end;
}
.sorting-icon {
  height: 16px;
  width: 16px;
}
.covid-table-rows-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.covid-summary-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 90%;
}
@media (max-width: 767px) {
  .covid-table-container {
    margin-top: 20px;
    overflow-x: auto;
  }
  .covid-table-header-container,
  .covid-table-rows-container {
    min-width: 700px;
  }
  .seperator {
    min-width: 700px;
  }
}
.covid-summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .covid-summary-container {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .covid-summary-item {
    width: 50%;
  }
}
@media (min-width: 768px), (max-width: 800px) {
  .table-header {
    font-size: 14px;
  }
}
.summary-label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.summary-image {
  width: 38px;
  height: 38px;
}
.summary-count {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .summary-label {
    font-size: 14px;
  }
  .summary-count {
    font-size: 20px;
  }
  .summary-image {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  .header-container {
    display: block;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header-container {
    display: none;
  }
}

.confirmed-container {
  color: #ff073a;
}
.active-container {
  color: #007bff;
}
.recovered-container {
  color: #28a745;
}
.deceased-container {
  color: #6c757d;
}
