body {
  margin: 0;
  padding: 0;
}
.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1e1e30;
  height: 80px;
  width: 100vw;
}
.app-logo {
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f8fafc;
}
.india-span-ele {
  color: #007bff;
}
.main-nav-item-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header-nav-item {
  margin-right: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.linked-item {
  text-decoration: none;
  color: #94a3b8;
}
.active-link {
  color: #f8fafc;
}
.menu-icon {
  font-size: 16px;
  color: #f8fafc;
}
.desktop-nav {
  display: flex;
}
@media (max-width: 767px) {
  .app-navbar {
    height: 56px;
    padding-left: 19px;
    padding-right: 19px;
  }
  .app-logo {
    font-size: 16px;
  }
}

.hamburger-icon {
  display: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hamburger-icon {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}
