.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1e1e30;
  height: 80px;
}
.app-logo {
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #f8fafc;
}
.india-span-ele {
  color: #007bff;
}
.nav-item-container {
  display: flex;
  list-style-type: none;
}
.nav-item {
  margin-right: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.linked-item {
  text-decoration: none;
  color: #94a3b8;
}
.active-link {
  color: #f8fafc;
}
