.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-heading {
  font-family: Bree Serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #f8fafc;
}
.india-span-ele {
  color: #007bff;
}

.footer-description {
  color: #94a3b8;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.icons-container {
  display: flex;
  align-items: center;
}
.icons {
  color: #cbd5e1;
  font-weight: 400;
  font-size: 52.92px;
  line-height: 100%;
  text-align: center;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer-description {
    font-size: 14px;
  }
  .footer-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .icons {
    width: 23px;
    height: 23px;
  }
}
